
/*index popoki digital*/

/*League Spartan Font*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/*font-family: "League Spartan", sans-serif;*/


body {
    background-color: #eae8ff;
    font-family: "League Spartan", sans-serif;
    
}

/*Estilos Nav*/
.nav-li {
    list-style-type: none;
}

.nav-li a {
    text-decoration: none;
    color: #961da9;
    
}
    
/*Estilos H1, H2, H3*/ 
h1 {
    color: #961da9;
    font-size: 4em;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}

h2 {
    color: #dc3886;
    font-size: 2em;
    font-family: "League Spartan", sans-serif;

}

h3 {
    color: #ff8c4d;
    font-size: 2em;
    font-family: "League Spartan", sans-serif;

}

/*footer estilo*/
.footer-parrafo {
    font-size: 1em;
    color: #961da9;
}